[includeIf "gitdir:**/github/**"]
    path = ~/.config/git/gmail.conf

[includeIf "gitdir:**/egress/**"]
    path = ~/.config/git/gmail.conf

[include]
    path = ~/.config/git/secret/secret.conf

[alias]
    grog = log --graph --abbrev-commit --decorate --all --format=format:\"%C(bold blue)%h%C(reset) - %C(bold cyan)%aD%C(dim white) - %an%C(reset) %C(bold green)(%ar)%C(reset)%C(bold yellow)%d%C(reset)%n %C(white)%s%C(reset)\"
    co = checkout
    ss = show --stat

[pull]
    rebase = true

[push]
    default = simple
    autoSetupRemote = true
